@import 'normalize.css';
@import 'font.css';
@import 'header.css';
@import 'footer.css';
.wrapper_who_am_I{
	max-width: 470px;
	margin: auto;
	padding-bottom: 40px;
}
.img_hider{
	height: 390px;
	overflow: hidden;
}
.img_hider img{
	width: 100%;
	max-width: 470px;
	margin: auto;
	display: block;
}
.who_am_I{
	background: #efeee9;
}
.who_am_I h1{
	max-width: 355px;
	font: 2.1875rem bernierRegular;
	color: #373e42;
	background: url('../images/icon/about_header.svg') top no-repeat;
	background-size: 62%;
	padding: 17px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:  0 auto;
}
.who_am_I h2{
	font: 1.3125rem bernierRegular;
	color: #455a64;
	display: flex;
	align-items: center;
	justify-content: center;
}
.who_am_I p{
	font: .875rem RobotoR;
	color: #455a64;
	text-align: left;
	line-height: 24px;
	max-width: 470px;
	width: 95%;
	margin: auto;
}
.who_am_I p:last-child{
	margin-top: 10px;
}

.wrapper_can_I_help{
	max-width: 470px;
	margin: auto;
}
.can_I_help h2{
	font: 1.3125rem bernierRegular;
	color: #455a64;
	text-align: center;
	margin: 0;
	padding: 30px 0 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
} 
.rectangle2L,
.rectangle2R{
	height: 5px;
	width: 22px;
	background-color: #d7d8d9;
}
.rectangle2L{
	margin-right: 20px;
}
.rectangle2R{
	margin-left: 20px;
}

.can_I_help h3{
	font: 1.3125rem RobotoM;
	color: #4d5963;
	text-align: center;
}
.can_I_help p{
	font: .875rem RobotoR;
	color: #455a64;
	text-align: left;
	line-height: 24px;
	width: 95%;
	margin: auto;
}
.can_I_help svg .circle1{
	stroke: #dfdcd5;
}
.can_I_help svg .circle2{
	stroke: #10c0a7;
}
.can_I_help svg text{
	font: .8125rem RobotoM;
	fill: #10c0a7;
}
.svg_align_frontSkills,
.svg_align_backSkills,
.svg_align_flowSkills{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.sfrontend_skills h3,
.backend_skills h3,
.WorkFlow_skills h3{
	margin: 0;
}

@media only screen and (min-width: 470px){
	.who_am_I p,
	.can_I_help p{
		width: 100%;
	}
	/* .contacts_wrapper{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contacts{
		width: 380px;
	}
	.contacts ul{
		padding-left: 40px;
	} */
}
@media only screen and (min-width:1200px){

	.wrapper_who_am_I,
	.wrapper_can_I_help{
		max-width: 90%;
		margin: auto;
	}
	.wrapper_who_am_I{
		margin: 121px auto 0 auto;
	}
	
	.wrapper_who_am_I h1{
		font-size: 3.93rem;
	}
	.wrapper_who_am_I h2{
		font-size: 2.18rem;
	}
	.wrapper_can_I_help h2{
		font-size: 2.18rem;
	}
	.wrapper_can_I_help{
		margin: 202px auto 0 auto;
	}
	.who_am_I,
	.can_I_help{
		width: 50%;
	}
	.who_am_I{
		background: url(../images/icon/about_bg_left.svg) top no-repeat;
		background-size: cover;
		padding-bottom: 65px;
	}
	.can_I_help{
		background: url(../images/icon/about_bg_right.svg)top no-repeat;
		background-size: cover;
		
	} 
	.can_I_help h3{
		font-size: 1.75rem;
		text-align: left;
	}
	.can_I_help h2{
		margin: -60px auto 0 auto;
	}
	.svg_align_frontSkills, 
	.svg_align_backSkills,
	.svg_align_flowSkills {
    flex-wrap: nowrap;
    justify-content: space-between;
	}
	
	/* .up_side{
		height: 70px;
		justify-content: space-between;
		flex-direction: row;
		padding: 0 40px;
	}
	.up_side .menu_footer{
		margin: 0;
	}
	.down_side{
		height: 70px;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 40px;
	}
	.my_text p{
		width: 500px;
		margin: 0;
		text-align: left;
	}
	.copyright p{
		text-align: right;
	} */
}
@media only screen and (min-width: 1600px){
	/* .contacts_footer_wrapper{
		background: url('../images/other/map_1600px.jpg') center no-repeat;
		background-size: cover;
	} */
	.svg_align_frontSkills, 
	.svg_align_backSkills,
	.svg_align_flowSkills{
		justify-content: flex-start;
	}
	
}
@media only screen and (min-width: 1800px){
	.wrapper_who_am_I{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		width: 100%;
		max-width: 100%;
		margin: 200px auto 0 auto;
	}
	.wrapper_who_am_I h1{
		margin: -36px 0 0 0;
		height: 50px;
		background-size: 99% 100%;
	}
	.align_1800px{
		margin: -17px 0 0 0;
	}
}