@import 'normalize.css';
@import 'font.css';
@import 'header.css';
@import 'footer.css';
header{
	background:url('../images/icon/bg_white.svg'),
	url('../images/icon/blog_header.svg') ,
	url('../images/other/mountains_for_iphone.jpg');
	background-size: 100%, 40%, cover;
	background-repeat: no-repeat;
	background-position:bottom, center 65%, center;
}
.arrow_down{
	top: 75%;
}
.me_about .main_header_blog{
	font: 3.0625rem bernierRegular;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* background:url('../images/icon/blog_header.svg') center no-repeat; */
	background-size: cover;
}
.me_about h2{
	font: .875rem robotoR;
}
.rectangle2L,
.rectangle2R{
	height: 5px;
	width: 22px;
	background-color: rgba(255, 255, 255, 0.3);
}
.rectangle2L{
	margin-right: 20px;
}
.rectangle2R{
	margin-left: 20px;
}
.line_underBlogPost{
	border-bottom: 4px solid #f4f4f5;
}
.blog{
	width: 90%;
	margin: auto;
}
.blog_post .first-child{
	margin-top: 0;
}
.blog_post h2{
	font: 1.3125rem bernierRegular;
	color: #455a64;
	margin-bottom: 10px;

}
.blog_post .date{
	font: .875rem robotoR;
	color: #00bfa5;
}
.blog_content{
	font: .875rem robotoR;
	color: #455a64;
	line-height: 21px;
	margin-top: 10px;
	margin-bottom: 20px;
}