.contacts_footer_wrapper{
	height: 100vh;
	width: 100%;
	background: url('../images/other/map.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contacts{
	max-width: 380px;
	height: 280px;
	background-color: rgba(252, 252, 252, .85);
	border-radius: 5px;
}
.contacts h1{
	text-align: center;
	font: 2.1875rem bernierRegular;
	color: #373e42;
	margin-top: 0;
	padding-top: 20px;
}
.contacts h1:before,
.contacts h1:after{
	content: url('../images/other/rectangle.jpg');
	position: relative;
	bottom: 9px;
	margin: 0 20px;
}
.contacts ul{
	padding-left: 10px;
	margin: 0;
	height: 153px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contacts li,
.contacts li a{
	color: #455a64;
	font: 1rem RobotoM;
	text-decoration: none;
	list-style-type: none;
}

.contacts ul li:first-child {
	background: url('../images/icon/skype.svg') 0px 0px no-repeat;
	height: 30px;
	padding:  0 0 0 30px;
}
.contacts ul li:nth-child(2) {
	background: url('../images/icon/envelope.svg') 0px 3px no-repeat;
	height: 30px;
	padding:  0 0 0 30px;
}
.contacts ul li:nth-child(3) {
	background: url('../images/icon/phone.svg') 0px 3px no-repeat;
	height: 30px;
	padding:  0 0 0 30px;
}
.contacts ul li:nth-child(4) {
	background: url('../images/icon/map_marker.svg') 0px 0px no-repeat;
	height: 30px;
	padding:  0 0 0 30px;
}

footer{
	background-color: rgba(55, 62, 66, .85);
}

.up_side{
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	display: flex;
	justify-content: center;
	flex-direction: column;
  align-items: center;
	padding-top: 20px;

}

.up_side .menu_footer{
	display: flex;
	justify-content: space-between;
	padding: 0;
	width: 85%;
	max-width: 405px;
	margin: auto;
}
.up_side .menu_footer li a{
	color: #ffffff;
	font: .8125rem robotoM;
	text-decoration: none;
}
.up_side .menu_footer li,
.up_side .social_footer li{
	list-style-type: none;
}
.up_side .active a{
	color: #00bfa5;
}

.social_footer {
	display: flex;
	justify-content: space-between;
	width: 150px;
	padding-left: 0;
}
.social_footer li:hover svg path{
	fill: #ffffff;
}
.down_side{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.down_side p{
	font: .8125rem robotoL;
	color: rgba(255, 255, 255, .5);
}
.down_side .my_text{
	text-align: center;
}
.my_text p{
	margin-bottom: 0;
}

@media only screen and (min-width: 470px){
	.contacts_wrapper{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.contacts{
		width: 380px;
	}
	.contacts ul{
		padding-left: 40px;
	}
}
@media only screen and (min-width:1200px){

	.up_side{
		height: 70px;
		justify-content: space-between;
		flex-direction: row;
		padding: 0 40px;
	}
	.up_side .menu_footer{
		margin: 0;
	}
	.down_side{
		height: 70px;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 40px;
	}
	.my_text p{
		width: 500px;
		margin: 0;
		text-align: left;
	}
	.copyright p{
		text-align: right;
	}
}
@media only screen and (min-width: 1600px){
	.contacts_footer_wrapper{
		background: url('../images/other/map_1600px.jpg') center no-repeat;
		background-size: cover;
	}
}