@import 'normalize.css';
@import 'font.css';
@import 'header.css';
@import 'footer.css';
header{
	background:url('../images/icon/bg.svg')bottom no-repeat,
	url('../images/other/mountains_for_iphone.jpg') center no-repeat;
	background-size: 220% 30%,cover;
}

.my_works {
	width: 250px;
	font: 2.1875rem bernierRegular;
	color: #373e42;
	background: url('../images/icon/works_header.svg') center no-repeat;
	background-size: contain;
	padding: 21px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3%;
	}
.rectangle2L,
.rectangle2R{
	height: 5px;
	width: 22px;
	background-color: #d7d8d9;
}
.rectangle2L{
	margin-right: 20px;
}
.rectangle2R{
	margin-left: 20px;
}

.my_works_content{
	height: 100px;
	background: #eeebe0;
}
.school_education{
	background: #f0efe9;
}

.school_education h2{
	color: #455a64;
	font: 1.3125rem bernierRegular;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0; 
}
.teсhnology_line{
	width: 98%;
	margin: 0 auto;
	border-top: 1px solid #c0ddd6;
	border-bottom: 1px solid #c0ddd6;
	text-align: center
}
.teсhnology_line span{
	color: #20b5a1;
	font: .875rem robotoM;
}
.inline-svg-link{
	width: 20px;
	height: 19.125px;
	fill: red;
}
.button_to_school {
	background: url('../images/icon/link.svg')#00bfa5 10% center no-repeat;
	border: none;
	display: block;
	padding: 10px 19px 10px 50px;
	border-radius: 5px;
	font: .875rem robotoM;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}
.link_to_school{
	text-decoration: none;
}
.talking_about_me{
	padding: 0 10px;
}
.talking_about_me h2{
	width: 250px;
	background: url(../images/icon/about_header.svg);
	font: 2.1875rem bernierRegular;
	color: #373e42;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	background: url('../images/icon/about_header.svg') center no-repeat;
	background-size: contain;
	padding: 21px 0;
}
.apostrophe {
	opacity: .1;
	font: 2.25rem awesom;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.comment{
	color: #455a64;
	font: .875rem robotoR;
	line-height: 24px;
	text-align: left;
}
.Kovalchuk{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start ;
}
.kovalchuk_photo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	background: url('../images/other/kovalchuk.png') 27% 20% no-repeat;
	background-size: 121%;
	margin-right: 20px;
}
.sign{
	color: #20b5a1;
	font: .875rem robotoB;
	margin: 5px 0 0 0;
}
.position_in_company{
	color: #20b5a1;
	font: .875rem robotoR;
	margin: 5px 0 0 0;
}
.Zaharov{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start ;
}
.zaharov_photo{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	background: url('../images/other/zaharov.jpg') 27% 20% no-repeat;
	background-size: 100%;
	margin-right: 20px;
}
.bg_containerForm{
	background: url('../images/other/footerBG_myWorks_1000.jpg') no-repeat;
	background-size: cover;
}
.wrapper_for_form{
	width: 300px;
	margin: 0 auto;
	filter: blur(15px);
	background: red;
	z-index: 100;
}
.wrapper_for_form h2{
	z-index: 1000;
	position: absolute;
}
form{
	display: flex;
	flex-direction: column;
}
@media only screen and (min-width: 800px){
	.my_works{
		width: 395px;
		font-size: 3.0625rem;
		bottom: 0;
	}
} 
@media only screen and (min-width: 1200px){
	.my_works{
		width: 475px;
		font-size: 3.9375rem;
		
	}
	header{
		background-size: 100% 30%,cover;
	}
} 

@media only screen and (min-width: 1800px){
	.my_works{
		width: 495px;
	}
	header{
		background-size: 100% 33%,cover;
	}
} 