@import 'normalize.css';
@import 'font.css';
@import 'header.css';
@import 'footer.css';
header{
	background:url('../images/icon/bg.svg')bottom no-repeat,
	url('../images/other/mountains_for_iphone.jpg') center no-repeat;
	background-size: 220% 30%,cover;
}

.my_works {
	width: 250px;
	font: 2.1875rem bernierRegular;
	color: #373e42;
	background: url('../images/icon/works_header.svg') center no-repeat;
	background-size: contain;
	padding: 21px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3%;
	}
.rectangle2L,
.rectangle2R{
	height: 5px;
	width: 22px;
	background-color: #d7d8d9;
}
.rectangle2L{
	margin-right: 20px;
}
.rectangle2R{
	margin-left: 20px;
}

.my_works_content{
	height: 100px;
	background: #eeebe0;
}
.school_education{
	background: #f0efe9;
}

.school_education h2{
	color: #455a64;
	font: 1.3125rem bernierRegular;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0; 
}
.teсhnology_line{
	width: 98%;
	margin: 0 auto;
	border-top: 1px solid #c0ddd6;
	border-bottom: 1px solid #c0ddd6;
	text-align: center
}
.teсhnology_line span{
	color: #20b5a1;
	font: .875rem robotoM;
}
.inline-svg-link{
	width: 20px;
	height: 19.125px;
	fill: red;
}
button {
	background: url('../images/icon/link.svg')#00bfa5 10% center no-repeat;
	border: none;
	display: block;
	padding: 10px 19px 10px 50px;
	border-radius: 5px;
	font: .875rem robotoM;
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}
.link_to_school{
	text-decoration: none;
}
@media only screen and (min-width: 800px){
	.my_works{
		width: 395px;
		font-size: 3.0625rem;
		bottom: 0;
	}
} 
@media only screen and (min-width: 1200px){
	.my_works{
		width: 475px;
		font-size: 3.9375rem;
		
	}
	header{
		background-size: 100% 30%,cover;
	}
} 

@media only screen and (min-width: 1800px){
	.my_works{
		width: 495px;
	}
	header{
		background-size: 100% 33%,cover;
	}
} 